@tailwind base;

@tailwind components;

@tailwind utilities;

@import "suneditor/dist/css/suneditor.min.css";

@layer base {
    #app {
        @apply h-full flex flex-col;
    }

    .bg-primary {
        @apply bg-cyan-700 text-slate-200;
    }

    .bg-alt {
        @apply bg-gray-500 text-slate-200;
    }

    .bg-dark {
        @apply bg-slate-200;
    }

    .bg-light {
        @apply bg-slate-100;
    }

    .bg-light-dark {
        @apply bg-slate-200;
    }

    .border-primary {
        @apply border-cyan-700;
    }

    .border-dark {
        @apply border-slate-200;
    }

    .text-primary {
        @apply text-cyan-700;
    }

    .text-light {
        @apply text-slate-100;
    }
}

@layer components {
    @mixin _text-input($types) {
        @each $type in $types {
            &[type=#{$type}] {
                @apply rounded-md px-2 py-1 border-dark form-input;
            }
        }
    }

    .card {
        @apply px-4 py-8 bg-gray-50 border border-gray-200 rounded-md shadow-sm block;
    }

    .card-sm {
        @apply card p-2;
    }

    .card-legend {
        @apply absolute top-0 left-0 w-full bg-primary p-4 rounded-t-md shadow-sm;
    }

    .card-legend-body {
        @apply mt-8;
    }

    .icon {
        @apply w-6 h-6;
    }

    .icon-sm {
        @apply w-4 h-4;
    }

    .btn-primary {
        @apply bg-primary px-4 py-1 rounded-md disabled:opacity-75;
    }

    .btn-alt {
        @apply bg-alt px-4 py-1 rounded-md disabled:opacity-75;
    }

    .label {
        @apply font-medium text-sm;
    }

    .error {
        @apply font-light text-sm text-red-600;
    }

    .table-header {
        @apply font-semibold text-center md:text-left border border-slate-300 w-1/4 px-2 md:px-4 py-1 md:py-2;
    }

    .table-data {
        @apply border border-slate-300 px-4 py-2;
    }

    body {
        @apply h-screen antialiased bg-slate-100 text-gray-900;
    }

    input {
        @include _text-input(text email password number time day date);
    }

    select {
        @apply rounded-md px-4 py-1 border-dark form-input;
    }

    fieldset {
        @apply relative;
    }
}

@layer utilities {
    .banner {
        background-image: url("/storage/assets/banner.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: contrast("110%");
    }
}
